.nav-wrapper {
	font-size: 90px;
	background-color: #b3fff0;
	color:#fff;
	
}

#map {
        height: 500px;
        width: 100%;
       }

.h3{
	text-align: center;
	background-color: #fff;
	font-size: 60px;
}
/*body{

	background-image: url(images/Background.png);
	background-repeat: no-repeat;
	background-size: 90%%;

}*/
html {
    font-family: GillSans, Calibri, Trebuchet;
  }

  .parallax-container {
      height: 100px;
    }