<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

  <meta charset="utf-8">
  <title>Львів на долоні</title>
  <link rel="icon"  href="{% static 'images/logo_title.png' %}" type="images/x-icon">
      <!--Import Google Icon Font-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/CSS.css' %}"/>

</head>

<body>
  <nav>
  <a id="TopAnchor"></a>
    <div class="nav-wrapper">

      <!-- <a href="#" class="brand-logo center">Львів на долоні</a> -->
      <ul>
      <li><a href="{% url 'home_page' %}">На головну</a></li>
      <div class="logo"><a href="#"><img src="{% static 'images/logo2.png' %}"></a></div>
      </ul>
      <!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html"></a></li>
        <img src="{% static 'images/logo.png' %}" height="70">
        <li><a href="{% url 'home_page' %}">На головну</a></li>


      </ul> -->
    </div>

  </nav>
  <div class="GoTop"><a href="#TopAnchor"><img width="100" height="100" src="{% static 'images/scrolltop.png' %}"></a></div>
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/paralaxImage.jpg' %}"></div>
  </div>
  <br>
  <br>

<div class="row">
         <div class="col s4" id="ImageContainer"><img width = 100% src="{{MEDIA_URL}}{{marker.image}}"></div>
         <div class="col s8" id="DescriptionContainer">{{marker.full_description}}</div>
        </div>
<div class="row">
  <div class="col s1 "></div>

  <div class="col s10">
       <p class="MapDeskription">Де це знайти?</p>
       <div id="map"></div>
  </div>
    <div class="col s1"></div>
</div>
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/1.png' %}"></div>
  </div>



 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Сайт знаходиться на стадії розробки</p>
              </div>
              <div class="col l4 offset-l2 s12">
<img src="">
                <ul>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text

            </div>
          </div>
        </footer>
</body>




<script>
  function initMap() {
    //making variable location good view
          var location = [{{marker.location}}];
          var map = new google.maps.Map(document.getElementById('map'), { zoom: 16,center: {lat: location[0],lng: location[1]} , gestureHandling: 'greedy' });
          var infowindow = new google.maps.InfoWindow;

          var marker = new google.maps.Marker({
              position: {lat: location[0],lng: location[1]},
              map: map,
              icon: '{{MEDIA_URL}}{{marker.icon.iconImage}}',
          });
          var contentString = "<h2>"+"{{marker.title}}"+"</h2>";
          contentString += "<img src='{{MEDIA_URL}}{{marker.image}}' width = '100px'>";
          contentString += "<p>{{marker.short_description}}</p>";
          google.maps.event.addListener(marker, 'click', (function(marker,contentString) {
          return function() {

              infowindow.setContent(contentString);
              infowindow.open(map, marker);
            }
          })(marker,contentString));

      }
</script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT2E5JhqquCtkDU5CNt_QEpy2TijuufMU&callback=initMap"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>

<script src="{% static 'js/paralax.js'%}"></script>
<!-- <script src="{% static 'js/javascript.js'%}"></script> -->
<script type="text/javascript">
  $(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#DescriptionContainer').offset().top
    }, 3000);
});
</script>
<script src="{% static 'js/javascript.js'%}"></script>
<script src="{% static 'js/carousel.js'%}"></script>
</html>
