<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

  <meta charset="utf-8">
  <title>WMOD</title>
      <!--Import Google Icon Font-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <link rel="stylesheet" type="text/css" href="{% static 'CSS/CSS.css' %}"/>

</head>


  <nav>
    <div class="nav-wrapper">
     
     
        <!-- <a href="#" class="brand-logo center">Львів на долоні</a> -->
    
        <div class="logo"><a href="#"><img src="{% static 'images/logo2.png' %}"></a></div>
        <div class="logo1"><img  src="{% static 'images/logo_test.png' %}"></div>
              
    </div>
    
  </nav>
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/paralaxImage.jpg' %}">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large  w3-xlarge w3-wide w3-animate-opacity">Прекрасне місто Лева... <span class="w3-hide-big"></span></span>
       </div>
    </div>
  </div>
  <br>

<div >
  <p class="MapDeskription">
   Львів- місто настільки прекрасне, наскільки й велике,
   та й цікавинок в ньому чимало. Путаниця, та й годі!
   Тому ми їх всіх зібрали в одному <a class="Anchor"  href="#mapAnchor">місці</a>- на твоєму моніторі.
  </p>
</div>
 <div class="row">
     <div class="carousel">
          <a class="carousel-item"><img  src="{% static 'images/carousel1.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel2.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel3.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel4.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel5.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel6.jpg'%}"></a>
        </div>
    <div class="col s1 ">
      
    </div>

    <div class="col s10">
      <a id="mapAnchor"></a>
       <p class="MapDeskription">Тут зібрані найцікавіші місця нашого міста</p>
       <div id="map"></div>



    </div>
    <div class="col s1 ">
      
    </div>


    </div>

  
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/1.png' %}"></div>
  </div>

  <div class="row">
    <div class="col s4" id="ImageContainer"></div>
    <div class="col s8" id="DescriptionContainer"></div>

  </div>



 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Сайт знаходиться на стадії розробки</p>
              </div>
              <div class="col l4 offset-l2 s12">

                <ul>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text

            </div>
          </div>
        </footer>
</body>




<script>
  function initMap() {
          var LvivCenter = {lat: 49.838, lng: 24.023};
          var map = new google.maps.Map(document.getElementById('map'), { zoom: 13,center: LvivCenter  });
          var infowindow = new google.maps.InfoWindow;

          var markers = new Array();
          var marker;
          {%for m in markers%}
          //making variable location good view
          var location = [{{m.location}}];
		        marker = new google.maps.Marker({
              position: {lat: location[0],lng: location[1]},
              map: map,
              icon: '{{MEDIA_URL}}{{m.icon.iconImage}}'
            });
            var contentString = "<h2>"+"{{m.title}}"+"</h2>";
            contentString += "<img src='{{MEDIA_URL}}{{m.image}}' width = '100px'>";
            contentString += "<p>{{m.short_description}}</p>";
            contentString += "<a href='show_info/{{m.id}}/'>Докладніше</a>"
            google.maps.event.addListener(marker, 'click', (function(marker,contentString) {
            return function() {

                infowindow.setContent(contentString);
                infowindow.open(map, marker);
              }
            })(marker,contentString));
            markers.push(marker);
          {%endfor%}
          var markerCluster = new MarkerClusterer(map, markers,
           {
              imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
            });
      }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT2E5JhqquCtkDU5CNt_QEpy2TijuufMU&callback=initMap"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>

<script src="{% static 'js/paralax.js'%}"></script>
<script src="{% static 'js/javascript.js'%}"></script>
<script src="{% static 'js/carousel.js'%}"></script>
</html>
