<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

  <meta charset="utf-8">
  <title>WMOD</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <link rel="stylesheet" type="text/css" href="{% static 'CSS/CSS.css' %}"/>

</head>


  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">LvivCenter</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html"></a></li>
        <li><a href="badges.html">Components</a></li>
<!--           <div  class="pulseButton"><a class="btn btn-floating  cyan pulse"><i class="material-icons">edit</i></a></div>
 -->        <a class="btn btn-floating pulse" ><i class="material-icons">edit</i></a>
      </ul>
    </div>

  </nav>
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/paralaxImage.jpg' %}">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Lorem <span class="w3-hide-big">Ipsum</span>...</span>
       </div>
    </div>
  </div>

 <div class="row">

    <div class="col s2 ">
      <h1>Left</h1>
    </div>

    <div class="col s8">
       <div id="map"></div>


    </div>

    <div class="col s2">
      <h1>Right</h1>

    </div>
<div class="carousel">
          <a class="carousel-item"><img  src="{% static 'images/carousel1.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel2.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel3.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel4.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel5.jpg'%}"></a>
          <a class="carousel-item"><img  src="{% static 'images/carousel6.jpg'%}"></a>



        </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/1.png' %}"></div>
  </div>
 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>





</div>
</div>
  </div>
  </div>


</body>




<script src="{% static 'js/javascript.js'%}"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT2E5JhqquCtkDU5CNt_QEpy2TijuufMU&callback=initMap"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>

<script src="{% static 'js/paralax.js'%}"></script>
<script src="{% static 'js/carousel.js'%}"></script>
</html>
