<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

  <meta charset="utf-8">
  <title >Львів на долоні</title>
  <link rel="icon"  href="{% static 'images/logo_title.png' %}" type="images/x-icon">
      <!--Import Google Icon Font-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <link rel="stylesheet" type="text/css" href="{% static 'CSS/CSS.css' %}"/>

</head>

<body>
  <nav>
    <div class="nav-wrapper">


        <!-- <a href="#" class="brand-logo center">Львів на долоні</a> -->

        <div class="logo"><a href="#"><img src="{% static 'images/logo2.png' %}"></a></div>


    </div>

  </nav>
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/backgroundImage.jpg' %}">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large  w3-xlarge w3-wide w3-animate-opacity">Пам’ятки художнього дерева Закарпаття<span class="w3-hide-big"></span></span>
       </div>
    </div>
  </div>
  <br>

<div >
  <p class="MapDeskription">
   Інтерактивна карта «Пам’ятки художнього дерева Закарпаття» є частиною дослідницького проекту з вивчення
   сакральної дерев’яної архітектури Західної України, над яким працює НДС Львівської національної академії
    мистецтв. За матеріалами експедицій сформовано базу теоретичних і візуальних матеріалів, укладених у формі
     карти. Такий формат дає змогу цілісно представити значну кількість архітектурних об’єктів одночасно –
      на <a class="Anchor"  href="#mapAnchor">мапі</a> з чітким географічним районуванням – і при цьому точно локалізувати кожну пам’ятку,
      з додатковою інформацією про неї. Світлини фіксують актуальний стан дерев’яних храмів й низки унікальни
      х збережених житлових і господарських споруд Закарпаття. Окрім того, на карті позначено вже втрачені
      пам’ятки – із залученням фотознімків з архівних збірок і приватних колекцій. <a class="Anchor"  href="#mapAnchor"></a>
  </p>
</div>
 <div class="row">
     <div class="carousel">
       {%for m in pictures%}
          <a class="carousel-item" href='show_info/{{m.name.id}}/'><img src="{{MEDIA_URL}}{{m.name.image}}"  style="width:  auto !important;
             height: 400px !important;"></a>
       {%endfor%}
        </div>
        <a id="mapAnchor"></a>
       
    <div class="col l2 s3">
      {%for m in icons%}
         <div class="chip" onclick="initMap('{{m.iconType}}')">
           <a>
            <img  src='{{MEDIA_URL}}{{m.iconImage}}'> &nbsp; {{m.iconType}}
          </a>
          </div>
        {%endfor%}
        <div class="chip" style="font-size:16px !important;" onclick="initMap()">
           <a class="AllChips">
            Усі маркери
          </a>
              </div>
  </div>

    <div class="col l9 s8">





       <div id="map"></div>



    </div>

    <div class="col l1 s1 ">

    </div>


    </div>


  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/backgroundImage.jpg' %}"></div>
  </div>

  <div class="row">
    <div class="col s4" id="ImageContainer"></div>
    <div class="col s8" id="DescriptionContainer"></div>

  </div>



 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h3 class="white-text">Виконала команда WMOD</h3>
                <h5 class="white-text" >Тарас Глуховецький</h5>
                <h5 class="white-text" >Валентина Кошелюк</h5>
                <h5 class="white-text" >Михайло Леськів</h5>
                <h5 class="white-text" >Артур Данканич</h5>
                <h5 class="white-text" >Марта Бобик</h5>
                <h5 >Юрій Дудар</h5>
              </div>
              <div class="col l4 offset-l2 s12">

                <ul>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 WMOD team

            </div>
          </div>
        </footer>
</body>




<script>
  function initMap(nameicon) {
          var LvivCenter = {lat: 49.838, lng: 24.023};
          var map = new google.maps.Map(document.getElementById('map'), { zoom: 13,center: LvivCenter, gestureHandling: 'greedy'});
          var infowindow = new google.maps.InfoWindow;

          var markers = new Array();
          var marker;
          {%for m in markers%}
          //making variable location good view
          var location = [{{m.location}}];
          if ("{{m.icon.iconType}}"==nameicon || !nameicon)
          {
		        marker = new google.maps.Marker({
              position: {lat: location[0],lng: location[1]},
              map: map,
              icon: '{{MEDIA_URL}}{{m.icon.iconImage}}'
            });
            var contentString = "<h2>"+"{{m.title}}"+"</h2>";
            contentString += "<img src='{{MEDIA_URL}}{{m.image}}' width = '100px'>";
            contentString += "<p>{{m.short_description}}</p>";
            contentString += "<a href='show_info/{{m.id}}/'>Докладніше</a>"
            google.maps.event.addListener(marker, 'click', (function(marker,contentString) {
            return function() {

                infowindow.setContent(contentString);
                infowindow.open(map, marker);
              }
            })(marker,contentString));
            markers.push(marker);
          }
          {%endfor%}
          var markerCluster = new MarkerClusterer(map, markers,
           {
              imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
            });
      }
      $(document).ready(function(){
            $('.carousel').carousel();
          });
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT2E5JhqquCtkDU5CNt_QEpy2TijuufMU&callback=initMap"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>

<script src="{% static 'js/paralax.js'%}"></script>
<script src="{% static 'js/javascript.js'%}"></script>
<script src="{% static 'js/carousel.js'%}"></script>
</html>
